#publication_abstract,#publication_meshterms{
    font-size:small;
}
.primary-key span{
    text-align:right;
    display:block;
    width:9ex;
}
#conversion textarea{
    width:100%;
    height:25em;
}
#conversion .col-md-2{
    margin-top:1in;
    text-align:center;
}
thead{
    border-bottom:3px solid black;
}
caption{
    caption-side:bottom;
}
dl.footnotes dd{
    margin-left:2em;
    text-align:left;
}
dl.footnotes dt{
    width:1em;
}
/*
#add_interaction{
    float:right;
}
*/
