body,.panel{
    background-color:#FDF6E3;
    color:#586E75;
}
aside{
    margin-top:1ex;
    border:1ex solid #EEE8D5;
}
.error > .type{
    color:#DC322F;
}
.E_USER_NOTICE > .type{
    color:#2AA198;
}